

<!DOCTYPE html>
<html lang="zxx">

<head>
    <link rel="stylesheet" href="/public/css/plugins/bootstrap.min.css">
  <!-- font awesome css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- swiper css -->
  <link rel="stylesheet" href="/public/css/plugins/swiper.min.css">
  <!-- lity css -->
  <link rel="stylesheet" href="/public/css/plugins/lity.min.css">
  <!-- animsition css -->
  <link rel="stylesheet" href="/public/css/plugins/animsition.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="/public/css/style-business.css">
  <!-- page title -->
  <title>Admin</title>
  <meta name="robots" content="noindex">
</head>

<body>

  <!-- page wrapper -->

    <!-- menu -->
    <%- include("../partials/admin-nav") %>
    <!-- menu end -->

      <main class="container-fluid">
        <h5>Registration (Paid) List</h5>
        
        <% if(registrations.filter(r => r.handled == false).length > 0){ %>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Course</th>
                    <th>Mobile</th>
                    <th>Paid Amount</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
             <tbody>
                <%  
            for(let i = 0; i < registrations.filter(r => r.handled == false).length; i++){
                let registration = registrations[i];
                %>
                <tr>
                    <td><%= registration.name %></td> 
                    <td><%= registration.email %></td> 
                    <td><%= registration.courseName %></td> 
                    <td><%= registration.mobile %></td>    
                    <td><%= registration.fee %></td> 
                    <td><%= registration.address %></td> 
                    <td><%= registration.fee %></td> 
                    <td><a class="btn btn-primary" href="/registration/<%= registration._id %>/handle" >Handle</a></td>
                </tr>
                  
                <%
            }
            %> 
            </tbody>
        </table>
        <% }else{ %>
            <h5>No Registrations</h5>
            <% } %>

      <!-- footer -->
      <!-- footer end -->

      

    </main>

  <!-- page wrapper end -->

  <!-- jquery js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- anime js -->
<script src="/public/js/plugins/anime.min.js"></script>
<!-- lity js -->
<script src="/public/js/plugins/lity.min.js"></script>
<!-- waypoint js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/1.1.6/waypoints.min.js"></script>
<!-- swiper js -->
<script src="/public/js/plugins/swiper.min.js"></script>
<!-- animsition js -->
<script src="/public/js/plugins/animsition.min.js"></script>
<!-- main js -->
<script src="/public/js/main.js"></script>
  

</body>

</html>
