<!DOCTYPE html>
<html lang="zxx">

<head>
  <%- include("../partials/head", {title: `${course.title}`}) %>

</head>

<body>

  <!-- preloader -->
  <svg class="sw-loading" style="position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);" width="35" height="35" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#D8D8D8">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur=".5s" fill="freeze" repeatCount="indefinite"></animateTransform>
    </path>
  </svg>
  <!-- preloader end -->

  <!-- page wrapper -->
  <div class="sw-page-wrapper animsition">

    <!-- menu -->
    <%- include("../partials/header") %>
    <!-- menu end -->

    <!-- banner -->
    <div class="sw-banner sw-banner-sm">
        <img src="/public/img/business/banners/banner-5.png" alt="banner" class="sw-banner-image">
        <!-- overlay -->
        <div class="sw-overlay sw-overlay-left-1">
          <div class="container sw-d-flex">
            <!-- main title frame -->
            <div class="sw-main-title sw-main-title-left sw-animation-opas sw-top-header-fix">
              <!-- title -->
              <h1 class="sw-white"><%= course.title %></h1>
              <h2><%= course.type %></h2>
            </div>
            <!-- main title frame end -->
          </div>
        </div>
        <!-- overlay end -->
      </div>
      <!-- banner end -->
  
      <main id="sw-content">
  
        <div class="sw-over-frame sw-up">
  
          <div class="container">
  
            <!-- breadcrumbs -->
            <ul class="sw-breadcrumb p-30-30">
              <li><a href="#.">Home</a></li>
              <li><a href="#.">Courses</a></li>
              <li><a href="#sw-content"><%= course.title %> </a></li>
            </ul>
            <!-- breadcrumbs end -->
  
          </div>
        </div>
        
        <div class="container">
            <div class="row p-60-0">
              <div class="col-lg-12">
    
                <div class="sw-bt sw-bt-right">
                  <svg width="100%">
                    <text x="0" y="140px" font-size="150px" stroke="#3e3e41" stroke-width="4" fill="transparent">
                      <!-- section title -->
                      About <%= course.title %>
                    </text>
                  </svg>
                </div>
    
              </div>
    
              <div class="col-lg-6">
    
                <div class="mb-60">
                  <!-- title -->
                  <h4>Introduction</h4>
                  <div>
                    <%- course.introduction.body %> 
                  </div>
                </div>
    
              </div>
    
              <div class="col-lg-6">
    
                <div class="mb-60">
                  <!-- suptitle -->
                  <div class="sw-section-suptitle">
                    <%
                    for ( var i = 0; i < course.introduction.highlights.length; i++ )
                    {
                        var highlight = course.introduction.highlights[i]
                        if(highlight != ""){
                            %><p>
                                <strong><%= highlight %></strong>
                            </p>  <br> <%
                        }
                    }
                    %>   
                    
                    <%
                    for ( var i = 0; i < course.courseDates.length; i++ )
                    {
                        var date = course.courseDates[i]
                        if(date != null){
                            %><p>
                                <strong><%= date.date.toDateString() %></strong>
                                <strong><%= date.timeFrom %></strong>
                                <strong><%= date.timeTo %></strong>
                            </p>  <br> <%
                        }
                    }
                    %>   
                </div>
              </div>
            </div>
          </div>


        <!-- Trainer Profile -->
      <div class="container">
        <div class="row p-60-0">
          <div class="col-lg-12">

            <!-- card -->
            <div class="sw-horizontal-card sw-video-animation-triger">
              <!-- card cover -->
              <div class="sw-horizontal-cover-frame">
                <img src="/public/img/business/faces/avarta-home.jpg" alt="Cover">
              </div>
              <!-- card cover end -->
              <!-- card description -->
              <div class="sw-horizontal-description-frame">
                <div class="sw-horizontal-description">
                  <!-- title -->
                  <h4 class="mb-15">Trainer Profile</h4>
                  <!-- suptitle -->
                  <div class="sw-section-suptitle mb-30">Trainer: Dr. Duminda Weeraratne MBA (Sri J), PMP,PMI-RMP,PMI-ACP,PMI-PBA,CSM</div>
                  <div class="mb-30">A trainer, speaker, coach and management consultant with two decades of industry experience specialising in project management and one decade of experience in training and coaching professionals from IT, Finance, Healthcare, Real Estate, Pharmaceutical, Leisure, and  Manufacturing industries. Popular for his unique simple and practical training delivery approach. Trained over 4500 executives of leading corporations on project management. Conducted over 80 public and in house workshops on project management and general management. Has produced over 700 PMPs, 200 CAPM credential holders and over 200 Agile Certificants during the last 12 years.

                    Authored a popular book on Project Management.  Was a visiting faculty member of MBA in Project Management (University of Southern Queensland Sri Lankan Branch) 2005 to 2006 and MBA program (University of Colombo) from 2008 to 2015. Research interests are in the fields of IT project management, IT industry development and Agile transition.</div>
                  
                </div>
              </div>
              <!-- card description end -->
            </div>
            <!-- card end -->

          </div>
        </div>
      </div>
      <!--Trainer Profile End-->

      <div class="col-lg-12">

        <div class="mb-60">
        <!-- title -->
        <h4 class="mb-30">Objectives</h4>
        <!-- <div class="sw-section-suptitle"></div> -->
        <p style="text-align: right;"> By the end of this course participants will:</p>
        <br>
        <!-- list -->
        <ul class="sw-list">
            <%
                    for ( var i = 0; i < course.objectives.length; i++ )
                    {
                        var objective = course.objectives[i]
                        if(objective.text != ""){
                            %><li>
                            <div class="sw-list-mark"><%= i + 1%></div> <%= objective.text %>
                            </li>   <%
                        }
                    }
                    %> 
        </ul>
        <!-- list end -->
        <!-- suptitle -->
        </div>
        </div>

        <div class="mb-60">
          <!-- title -->
          <div class="col-sm-12">
            <h4>&nbsp;  Course Contents</h4>
            <ul class="list-group">
                <%
                    for ( var i = 0; i < course.courseContent.length; i++ )
                    {
                        var content = course.courseContent[i]
                        if(content.body != ""){
                            %><li class="list-group-item">
                                <%- content.body %>
                                </li>  <%
                        }
                    }
                    %>
            </ul>
            </div>
          <!-- list end -->
          <!-- suptitle -->
        </div>

        <div class="col-lg-12">
            <div class="mb-60">
                <!-- title -->
                <h5 class="mb-30">Who Should Attend</h5>
                <div class="sw-section-suptitle">
                    <ul class="list-group">
                    <%
                    for ( var i = 0; i < course.targetAudience.length; i++ )
                    {
                        var attendee = course.targetAudience[i]
                        if(attendee.body != ""){
                            %>
                            <li class="list-group-item"><%= attendee.body %></li> <%
                        }
                    }
                    %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="mb-60">
                <!-- title -->
                <h5 class="mb-30">Course Fee</h5>
                <div class="sw-section-suptitle"><%= course.courseFee %></div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="mb-60">
                <!-- title -->
                <h5 class="mb-30">Duration</h5>
                <div class="sw-section-suptitle"><%= course.duration %></div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="mb-60">
                <!-- title -->
                <h5 class="mb-30">Related Links</h5>
                <div class="sw-section-suptitle">
                    <%
                    for ( var i = 0; i < course.externalLinks.length; i++ )
                    {
                        var link = course.externalLinks[i]
                        if(link.address != ""){
                            %>
                          <a href="<%= link.address %>"><span class="badge badge-info"><%= link.link %></span></a>  <%
                        }
                    }
                    %>
                </div>
            </div>
        </div>

        <% if(course.PDUTable != ""){ %>
            <div class="container">
                <table>
                  <%- course.PDUTable %>
                  
                </table>
            </div>
        <% } %>

        <% if(course.keyTakeaway != ""){ %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3>Key Takeaway</h3>
                <%- course.keyTakeaway %>
            </div>
        </div>
        <% } %>

      <!-- footer -->
      <footer class="sw-footer sw-footer-type-1">
        <%- include("../partials/footer") %>
      </footer>
      <!-- footer end -->

      

    </main>

  </div>
  <!-- page wrapper end -->

  <!-- jquery js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- anime js -->
  <script src="/public/js/plugins/anime.min.js"></script>
  <!-- lity js -->
  <script src="/public/js/plugins/lity.min.js"></script>
  <!-- waypoint js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/1.1.6/waypoints.min.js"></script>
  <!-- swiper js -->
  <script src="/public/js/plugins/swiper.min.js"></script>
  <!-- animsition js -->
  <script src="/public/js/plugins/animsition.min.js"></script>
  <!-- main js -->
  <script src="/public/js/main.js"></script>
  <script>
    $( document ).ready(function() {
    var hovering = function(){
      $("#navbar-menu").show("slide", { direction: "right" }, 1000);
    };

    var leaving = function(){
      $("#navbar-menu").hide("slide", { direction: "left" }, 1000);
    };

    $("#navbar").hover(hovering, leaving);
    });
    </script>
</body>

</html>
