<!DOCTYPE html>
<html lang="zxx">

<head>
  <%- include("../partials/head", {title: `${course.title}`}) %>

</head>

<body>

  <!-- preloader -->
  <svg class="sw-loading" style="position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);" width="35" height="35" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#D8D8D8">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur=".5s" fill="freeze" repeatCount="indefinite"></animateTransform>
    </path>
  </svg>
  <!-- preloader end -->

  <!-- page wrapper -->
  <div class="sw-page-wrapper animsition">

    <!-- menu -->
    <%- include("../partials/header") %>
    <!-- menu end -->

    <!-- banner -->
    <div class="sw-banner sw-banner-sm">
        <img src="<%= course.courseImage == "" || course.courseImage == null ? "/public/img/business/banners/classroom.jpeg" : course.courseImage%> " alt="banner" class="sw-banner-image">
        <!-- overlay -->
        <div class="sw-overlay sw-overlay-left-1-cs">
          <div class="container sw-d-flex">
            <!-- main title frame -->
            <div class="sw-main-title sw-main-title-left sw-animation-opas sw-top-header-fix">
              <!-- title -->
              <h1 class="sw-white text-capitalize"><%= course.title %></h1>

            </div>
            <!-- main title frame end -->
          </div>
        </div>
        <!-- overlay end -->
      </div>
      <!-- banner end -->
  
      <main >
  
        <div class="sw-over-frame sw-up">
  
          <div class="container">
            <div class="row">
                            <!-- breadcrumbs -->
                <div class="col-md-10">
                    <ul class="sw-breadcrumb p-30-30">
                        <li><a href="#.">Home</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href=""><%= course.title %> </a></li>
                      </ul>
                </div>
                <div class="col p-30-30">
                    <a style="color: white; background: #ed6663;" class="btn" style="position: relative;" href="#sw-content">I'm Interested</a>

                </div>
              <!-- breadcrumbs end -->
              
            </div>

          </div>
        </div>

        <div class="container">
            <div class="col-lg-12">
    
                <div class="mb-60">
                  <!-- title -->
                  
                </div>
    
              </div>
        </div>
        
        <div class="container">
            <div class="row">
              
              <div class="col-lg-8">
    
                <div >
                    <h4>About the course</h4>
                  <div class="mb-30">
                    <%- course.introduction.body %> 
                  </div>
                  <!-- title -->
                  <h4>What you will learn</h4>
                  <div class="mb-30">
                    <!-- title -->
                    <!-- <div class="sw-section-suptitle"></div> -->
                    <!-- <p style="text-align: right;"> By the end of this course participants will:</p> -->
                    <br>
                    <!-- list -->
                    <ul class="sw-list">
                        <%
                                for ( var i = 0; i < course.objectives.length; i++ )
                                {
                                    var objective = course.objectives[i]
                                    if(objective.text != ""){
                                        %><li>
                                        <div class="sw-list-mark"><%= i + 1%></div> <%= objective.text %>
                                        </li>   <%
                                    }
                                }
                                %> 
                    </ul>
                    <!-- list end -->
                    <!-- suptitle -->
                    </div>
                    </div>
                </div>
                <!-- Sidebar with details -->
              <div class="col-lg-4">
    
                <!-- Course Video Maxmize on Click-->

                <div >
                  <!-- suptitle -->
                  <div class="col-lg-12">
                    <div class="mb-60">
                        <!-- title -->
                        <h5 class="mb-30">Fee</h5>
                        <div class="sw-section-suptitle"><%= course.courseFee %></div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="mb-60">
                        <!-- title -->
                        <h5 class="mb-30">Duration</h5>
                        <div class="sw-section-suptitle"><%= course.duration %></div>
                    </div>
                </div>
                </div>
    
                <div class="mb-60">
                <!-- title -->
                <h5 class="mb-30">Who Should Attend</h5>
                <div style="font-size: 1.0rem;" class="sw-section-suptitle">
                    <ul class="list-group">
                    <%
                    for ( var i = 0; i < course.targetAudience.length; i++ )
                    {
                        var attendee = course.targetAudience[i]
                        if(attendee.body != ""){
                            %>
                            <li class="list-group-item"><%= attendee.body %></li> <%
                        }
                    }
                    %>
                    </ul>
                </div>
            </div>
              </div>
              </div>
        </div>
              
        <div class="container">
            <div class="row mb-30">
                <div style="font-size: 1.0rem;" class="col-lg-7">
                    <h5>&nbsp;  Course Contents</h5>
                    <ul class="list-group">
                        <%
                            for ( var i = 0; i < course.courseContent.length; i++ )
                            {
                                var content = course.courseContent[i]
                                if(content.body != ""){
                                    %><li class="list-group-item">
                                        <%- content.body %>
                                        </li>  <%
                                }
                            }
                            %>
                    </ul>
                </div>
                
                <div class="col-md-5">
                    <!-- <h5>&nbsp;  Methodology</h5>
                    <ul style="font-size: 1.1rem;">
                        <%
                            for ( var i = 0; i < course.learningMethodology.length; i++ )
                            {
                                var method = course.learningMethodology[i]
                                if(method.text != ""){
                                    %><li style="padding: 0.5rem;">
                                        <%- method.text %>
                                        </li>  <%
                                }
                            }
                            %>
                    </ul> -->
                    <iframe id="lf-iframe-embed-code-78776" style="min-width: 100% !important;width: 100px !important;*width: 100% !important; border:none;min-height: 483px;" src="https://app.leadformly.com/get_last_form_url/78776" scrolling="no" frameborder="0"></iframe> <script type="text/javascript">var ifr = document.getElementById("lf-iframe-embed-code-78776"); if (window.location.href && window.location.href.indexOf('?') > -1) { var get = window.location.href.substr(window.location.href.indexOf('?') + 1); if (ifr && get.length > 0) { var src = ifr.src; src = src.indexOf('?') > -1 ? src + '&' + get : src + '?' + get; ifr.src = src; } } var iframePosition = function(e) { var n = ifr.getBoundingClientRect().top + pageYOffset; ifr.contentWindow.postMessage(JSON.stringify({type: 'iframeTop', value1: n}), '*'); }, onTestScroll = function(e) { window.pageYOffset || document.documentElement.scrollTop; var n = ifr.getBoundingClientRect(); ifr.contentWindow.postMessage( JSON.stringify({type: 'windowTop', value2: n.y || n.top, value3: window.innerHeight}), '*'); }; window.addEventListener ? (window.addEventListener('scroll', onTestScroll, !1), window.addEventListener( 'load', onTestScroll, !1), window.addEventListener('scroll', iframePosition, !1), window.addEventListener('load', iframePosition, !1), window.addEventListener('DOMContentLoaded', iframePosition, !1)) : window.attachEvent && (window.addEventListener('DOMContentLoaded', iframePosition), window.attachEvent('scroll', onTestScroll), window.addEventListener('load', onTestScroll)); window.handleIFrameMessage = function(e) { if (e.data.length > 0) { try { var args = JSON.parse(e.data); var iframe = document.getElementById("lf-iframe-embed-code-78776"); var formIds = ["78776"]; if (formIds.indexOf(args.formID) !== -1) { switch (args.case) { case 'redirectTo': window.open(decodeURI(args.redirectToURL), '_self'); ifr.src = ifr.src; break; case 'resizeIframe': iframe.width = args.scrollWidth + 'px', iframe.height = args.scrollHeight + 'px'; break; case 'stepChanged' : var elCoords = getCoords(ifr), isFormOnScreen = isOnScreen(ifr, false); if (!isFormOnScreen) { window.scrollTo(0, elCoords.top); } break; case 'scrollTo': window.scrollTo({top: args.scrollToPosition}); break; } } if ('contentWindow' in iframe && 'postMessage' in iframe.contentWindow) { var urls = { 'docurl': encodeURIComponent(document.URL), 'referrer': encodeURIComponent(document.referrer), }; iframe.contentWindow.postMessage(JSON.stringify({'type': 'urls', 'value': urls}), '*'); } } catch (e) {} } }; if (window.addEventListener) { window.addEventListener('message', handleIFrameMessage, false); } else if (window.attachEvent) { window.attachEvent('onmessage', handleIFrameMessage); } var getCoords = function(elem) { var box = elem.getBoundingClientRect(); var body = document.body; var docEl = document.documentElement; var scrollTop = window.pageYOffset || docEl.scrollTop || body.scrollTop; var scrollLeft = window.pageXOffset || docEl.scrollLeft || body.scrollLeft; var clientTop = docEl.clientTop || body.clientTop || 0; var clientLeft = docEl.clientLeft || body.clientLeft || 0; var top = box.top + scrollTop - clientTop; var left = box.left + scrollLeft - clientLeft; return {top: Math.round(top), left: Math.round(left)}; }; var isOnScreen = function(_this, partial) { var t = _this; var box = t.getBoundingClientRect(); var win = {h: window.innerHeight, w: window.innerWidth}; var topEdgeInRange = box.top >= 0 && box.top <= win.h; var bottomEdgeInRange = box.bottom >= 0 && box.bottom <= win.h; var leftEdgeInRange = box.left >= 0 && box.left <= win.w; var rightEdgeInRange = box.right >= 0 && box.right <= win.w; var coverScreenHorizontally = (box.left <= 0 ^ box.right >= win.w); var coverScreenVertically = (box.top <= 0 ^ box.bottom >= win.h); var topEdgeInScreen = topEdgeInRange && (leftEdgeInRange || rightEdgeInRange || coverScreenHorizontally); var bottomEdgeInScreen = bottomEdgeInRange && (leftEdgeInRange || rightEdgeInRange || coverScreenHorizontally); var leftEdgeInScreen = leftEdgeInRange && (topEdgeInRange || bottomEdgeInRange || coverScreenVertically); var rightEdgeInScreen = rightEdgeInRange && (topEdgeInRange || bottomEdgeInRange || coverScreenVertically); var isPartiallyOnScreen = topEdgeInScreen || bottomEdgeInScreen || leftEdgeInScreen || rightEdgeInScreen; var isEntirelyOnScreen = topEdgeInScreen && bottomEdgeInScreen && leftEdgeInScreen && rightEdgeInScreen; return partial ? isPartiallyOnScreen : isEntirelyOnScreen; };</script>
                </div>
        </div>

        <div id="sw-content" class="container">
            <div id="registrationSection" class="row mb-60">
                <div class="col-md-12">
                    <h4>Training Options</h4>    
                </div>
                
                
                <div class="col-md-12">
                    <br>
                    <h5 style="color: #494953;">Live Virtual Classroom</h5>
                    <p>Our online training course maintains the same high quality instructor delivery standards, better learning impact, pass guarantee as the in person class room course with the flexibility and convenience to attend from your home or office.</p>             
                    <br>
                    <h5 style="color: #494953;">In Person Class Room</h5>
                    <p>Instructor-led courses are held at quality training facilities and hosted by one of our certified instructors with more than 10 years learning management experience. Our live classroom opton comes with the flexibility to convert to a virtual course or another date if your plans changes.</p>
                    <br>
                </div>

                <div class="col-md-4">
                    <div class="card ">
                        <div class="card-header">Register for Live Online Classes</div>
                        
                        <div class="card-body">
                                <img src="/public/img/Learning/1-1.png">
                                <div class="enroll-option">
                                    <ul>
                                        <li>Learn in an instructor-led online training class that fits your needs and schedule</li>
                                        <li>Take the course from the convenience of your home or office</li>
                                        <li>Join from anywhere in the world</li>
                                        <li>Knowledge sharing through live interactions with your instructor and fellow students</li>
                                        <li>Convenience, cost savings and flexibility </li>
                                        <li>Online one on one mentorship for doubt clearance</li>
                                    </ul>
                                </div>

                                <!-- <p>Register for Online Classes</p>  -->
                        </div>
                        <div class="card-footer">
                            <!-- Redirect to Pay Now-->
                            <a href="/paynow/<%= course.moniker %>" class="btn btn-warning">ENROLL NOW</a>
                        </div>
                    </div>
                </div>   
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Register for In Person Classes
                        </div>
                        <div class="card-body"> 

                            <img src="/public/img/Learning/2-1.png">
                            <div class="enroll-option">
                                <ul>
                                    <li>Printed Version of Study Materials</li>
                                    <li>In person classroom setting to interact with the instructor and peers</li>
                                    <li>10 case suited to leverage learning with a practical approach</li>
                                    <li>10 hands on activities to support application skills</li>
                                    <li>One on one mentorship for doubt clearance</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button data-toggle="modal" data-target="#class" class="btn btn-warning">Enroll Now</button>
                            
                        </div>
                    </div>
                </div>  
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">For Organisational Training</div>
                        <div class="card-body">
                            <img src="/public/img/Learning/3-1.png">
                        </div>
                        <div class="card-footer">
                            <button data-toggle="modal" data-target="#corporate" class="btn btn-warning">Contact</button>
                        </div>
                    </div>
                </div>   
            </div>  
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="card-img-top" src="/public/img/business/faces/avarta-home.jpg" alt="Duminda Weeraratne">

                    <div class="card mb-30">
                        <div class="card-header">
                            <h4 >Trainer Profile</h4>
                            <button class="btn btn-light" data-toggle="collapse" data-target="#trainer">More</button>
                        </div>
                        <div id="trainer" class="collapse" class="card-body">
                            <div style="font-size: 1.0rem; padding: 10px;">A trainer, speaker, coach and management consultant with two decades of industry experience specialising in project management and one decade of experience in training and coaching professionals from IT, Finance, Healthcare, Real Estate, Pharmaceutical, Leisure, and  Manufacturing industries. Popular for his unique simple and practical training delivery approach. Trained over 4500 executives of leading corporations on project management. Conducted over 80 public and in house workshops on project management and general management. Has produced over 700 PMPs, 200 CAPM credential holders and over 200 Agile Certificants during the last 12 years.
                            Authored a popular book on Project Management.  Was a visiting faculty member of MBA in Project Management (University of Southern Queensland Sri Lankan Branch) 2005 to 2006 and MBA program (University of Colombo) from 2008 to 2015. Research interests are in the fields of IT project management, IT industry development and Agile transition.</div>
                        </div>
                        <div class="card-footer">
                            <div class="sw-section-suptitle"><strong>Dr. Duminda Weeraratne </strong> <br> MBA (Sri J), PMP,PMI-RMP,PMI-ACP,PMI-PBA,CSM</div>
                        </div>
                    </div>
            
                    
                </div>
                <% if(course.testimonials.filter(t => t.author != "").length > 0){ %>
                <div class="col-md-6 p-30-30" style="overflow-y: scroll; max-height: 700px;">
                    <h4>Testimonials</h4>
                    <%
                            for ( var i = 0; i < course.testimonials.length; i++ )
                            {
                                var testimonial = course.testimonials[i]
                                if(testimonial.author != ""){
                                    %><div class="sw-testimonial mb-10">
                                        <!-- reviewer frame -->
                                        <div class="sw-reviewer-frame">
                                        <!-- img -->
                                        <!-- name -->
                                        <div>
                                            <h6 style="color: #000;"><%- testimonial.author.replace(/-/g, "<br>") %></h6>
                                        </div>
                                        </div>
                                        <!-- reviewer frame end -->
                                        <!-- testimonial frame -->
                                        <div class="sw-testimonial-frame">
                                        <!-- testimonial text -->
                                        <div style="font-size: 0.9rem;" class="">
                                            <%= testimonial.body %>
                                        </div>
                                        </div>
                                        <!-- testimonial frame end -->
                                    </div>   <%
                                }
                            }
                            %>         
                </div>
                <% } %>
            </div>    
        </div>      
    
  
        <!-- Reserve Modal -->
        <div class="modal fade" id="class">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Reserve a Seat for <%= course.title %> </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="reserveForm" class="form" method="post" action="../../register">
                        <div class="form-group">
                        <label class="control-label col-sm-4" for="name">Select Time Slot</label>
                        <select required class="form-control" name="date" id="selectSlot">
                            <% 
                                for(let i = 0; i< course.courseDates.length; i++){
                                    let courseDate = course.courseDates[i];
                                    if(courseDate.date != null){
                                    %>
                                    <option value=<%= new Date(courseDate.date).toLocaleDateString() %>> <%= new Date(courseDate.date).toDateString() %></option>
                                    <%}
                                }
                            %>
                            <% if(course.courseDates.length == 0 || course.courseDates.length == 0){
                                %>
                                <option disabled value="">No dates for this course</option>
                                <%
                            } %>
                        </select>
                        </div>

                        <select hidden  class="form-control" name="course" id="selectSlot">
                            <option value="<%= course.moniker %>"><%= course.title %></option>
                        </select>
                        
                        <select hidden  class="form-control" name="type" id="selectSlot">
                            <option value="class">Physical</option>
                        </select>
            
                        <div class="form-group">
                        <label class="control-label col-sm-4" for="name">Name in Full</label>
                        <div class="col-sm-8">
                            <input required minlength="3" type="text" class="form-control" id="name" placeholder="Name in Full" name="name">
                        </div>
                        </div>
                        <div class="form-group">
                        <label class="control-label col-sm-4" for="name">Email</label>
                        <div class="col-sm-8">
                            <input required type="email" class="form-control" id="email" placeholder="Email" name="email">
                        </div>
                        </div>
                        <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="submit" class="btn btn-default offset-md-2">Submit</button>
                        </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                

                </div>
            </div>
        </div>

        <!-- Contact Modal -->
        <div class="modal fade" id="corporate">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Corporate Training </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form class="form-horizontal" method="post" action="../../contact">
                    <div class="form-group">
                        <div class="col-sm-12">
                        <input required type="text" class="form-control" id="name" placeholder="Name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                        <input required type="email" class="form-control" id="email" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                        <input required type="text" class="form-control" id="name" placeholder="Phone" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                        <input required type="text" class="form-control" id="company" placeholder="Company" name="company">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="text-black">Explain your needs</label>
                        <div class="col-sm-12">          
                        <textarea required class="form-control" id="message" name="message" rows="3"></textarea>
                        </div>
                    </div>
                    <!-- submit button -->
                    <button type="submit" class="sw-btn sw-lg-btn sw-solid-btn sw-color-2-btn">Send <i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>

                <!-- Modal footer -->
                

                </div>
            </div>
        </div>

        <!-- FAQs-->
        <% if(course.FAQs.filter(f => f.question != "").length > 0){ %>
        <div class="container">
            <div class="col-md-12 mb-30">
                <h5 class="mb-30">Questions and Answers</h5>
                <%
                            for ( var i = 0; i < course.FAQs.length; i++ )
                            {
                                var faq = course.FAQs[i]
                                if(faq.question != ""){
                                    %><div class="card">
                                        <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#question<%= i %>" aria-expanded="true" aria-controls="collapseOne">
                                            <%= faq.question %>
                                            </button>
                                        </h5>
                                        </div>

                                        <div id="question<%= i %>" class="collapse" aria-labelledby="headingOne" >
                                        <div style="font-size: 0.9rem;" class="card-body">
                                            <%= faq.answer %>
                                        </div>
                                        </div>
                                    </div>  <%
                                }
                            }
                            %>
            </div>    
        </div>
        <% } %>

        <% if(course.PDUTable != ""){ %>
        <div class="container">
            <div class="row mb-30">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-primary" data-toggle="collapse" data-target="#pdus" aria-expanded="true" aria-controls="collapseOne">
                            PDUS (Expand)
                            </button>
                        </h5>
                        </div>

                        <div id="pdus" class="collapse" aria-labelledby="headingOne" >
                        <div style="font-size: 0.9rem;" class="card-body">
                            <%- course.PDUTable %>
                        </div>
                        </div>
                    </div>
                    
                </div>    
            </div>
        </div>
        <% } %>

      <!-- footer -->
      <footer class="sw-footer sw-footer-type-1">
        <%- include("../partials/footer") %>
      </footer>
      <!-- footer end -->

      

    </main>

  </div>
  <!-- page wrapper end -->
  <%- include("../partials/scripts") %>
  <script>
    document.getElementById('reserveForm').addEventListener('submit', e=>{
        if(!e.target.checkValidity){
            e.preventDefault()
            alert("Please enter your details")
        }
        console.log(e.target)
    })
    </script>
</body>

</html>
