<!DOCTYPE html>
<html lang="zxx">

<head>
  <%- include("../partials/head", {title: "Thank you for registering"}) %>
  <!-- Event snippet for Submit lead form conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-746721206/QXlHCJ3Vjt8BELafiOQC'});
  
</script>

  <meta name="robots" content="noindex" />
</head>

<body>

  <!-- preloader -->
  <svg class="sw-loading" style="position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);" width="35" height="35" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#D8D8D8">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur=".5s" fill="freeze" repeatCount="indefinite"></animateTransform>
    </path>
  </svg>
  <!-- preloader end -->

  <!-- page wrapper -->
  <div class="sw-page-wrapper animsition">

    <!-- menu -->
    <%- include("../partials/header") %>
    <!-- menu end -->

    
    <!-- banner -->
   
  
      <main id="sw-content">
  
        <% if(message != ""){ %>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h3><%= message %></h3>
                </div>
            </div>
        <% } %>
  
         
  

      <!-- footer -->
      <footer class="sw-footer sw-footer-type-1">
        <%- include("../partials/footer") %>
      </footer>
      <!-- footer end -->

      

    </main>

  </div>
  <!-- page wrapper end -->


  <%- include("../partials/scripts") %>

</body>

</html>
