<!DOCTYPE html>
<html lang="zxx">

<head>
  <%- include("../partials/head", {title: "Pay Online | Project Management Solutions"}) %>
  <meta name="robots" content="noindex" />

</head>

<body>

  <!-- preloader -->
  <svg class="sw-loading" style="position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);" width="35" height="35" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#D8D8D8">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur=".5s" fill="freeze" repeatCount="indefinite"></animateTransform>
    </path>
  </svg>
  <!-- preloader end -->

  <!-- page wrapper -->
  <div class="sw-page-wrapper animsition">

    <!-- menu -->
    <!-- menu end -->

    
    <!-- banner -->
    <div class="sw-banner sw-banner-sm">
        <!-- Replace with company Image -->
        <img src="/public/img/Payment_Security_desktop.jpg" alt="banner" class="sw-banner-image">
        <!-- overlay -->
        <div class="sw-overlay sw-overlay-left-1-cs">
          <div class="container sw-d-flex">
            <!-- main title frame -->
            <div class="sw-main-title sw-main-title-left sw-animation-opas sw-top-header-fix">
              <!-- title -->
              <h1 style="color: white;" class="">Pay Online</h1>
            </div>
            <!-- main title frame end -->
          </div>
        </div>
        <!-- overlay end -->
      </div>
      <!-- banner end -->
  
      <main id="sw-content">

        <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Course Name</th>
                            <th>Course Fee</th>
                            <th>Full Name</th>
                            <th>Type</th>
                            <th>Start Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="text-capitalize"><%= registration.courseName %></td>
                            <td>LKR. <%= registration.fee %></td>
                            <td><%= registration.name %></td>
                            <td><%= registration.type %></td>
                            <td><%= registration.startDate %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;" colspan="5">Total</td>
                            <td>LKR. <%= registration.fee %></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <hr>

            <div class="row">
            <div class="col-md-8">
              <form class="form" method="post" action="">
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="submit" class="btn btn-default offset-md-2">Pay Now</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <img src="/public/img/secure.jpg" width="70%">
            </div>
          </div>

        
        </div>

      <!-- footer -->
      <footer class="sw-footer sw-footer-type-1">
        <%- include("../partials/footer") %>
      </footer>
      <!-- footer end -->

      

    </main>

  </div>
  <!-- page wrapper end -->

  <%- include("../partials/scripts") %>

</body>

</html>
